@charset "utf-8";
/*
iframe내 페이지 관련 CSS 정리
*/
.mwrap {
  /* position: relative; */

  padding: 10px 20px 30px 20px;
}

.title-wrap {
  position: relative;
  margin-top: 30px;
  height: 35px;
  border-bottom: 1px solid #ededed;
}

.title-wrap h2 {
  float: left;
  margin-left: 40px;
  height: 35px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  border-bottom: 1px solid #e67e22; /* #75a3ee;*/
}

.table-wrap.horizontal {
  border-top: 1px solid #2980b9; /* #2e313a;*/
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}

table {
  width: 100%;
  border-spacing: 0;
}

.table-wrap.horizontal .type1 > tbody > tr:first-child > th,
.table-wrap.horizontal .type1 > tbody > tr:first-child > td {
  border-top: none;
}

.table th,
.table .th {
  background-color: #f9f9f9;
  letter-spacing: -1px;
}
.table th {
  padding: 14px 20px 14px 20px;
}
.table td {
  padding: 10px 20px;
}
.table th,
.table td {
  border-spacing: 0;
  border: 1px solid #ededed;
  font-weight: normal;
  font-size: 13px;
  line-height: inherit;
  color: #666;
}
.input {
  height: 30px;
  padding: 1px 10px 2px;
  border: 1px solid #ddd;
}
select.input {
  padding-right: 25px;
  font-size: 13px;
  border-radius: 0px;
}

.form.inline > div {
  margin-left: 10px;
  display: inline-block;
  float: none;
  font-size: 0;
  line-height: 0;
}
.ui-datepicker-wrap .input {
  display: inline-block;
  width: 110px;
}

/* .btn-tab:first-child {
  border-left: 1px solid #c3c3c3;
} */
.btn-tab.on,
.button.red,
.button.red:hover {
  background-color: #e67e22;
  border-color: #e67e22;
  /* background-color: #ee5555;
  border-color: #ee5555; */
  color: #fff;
  /* margin-left: -1px; */
}
.btn-tab {
  display: inline-block;
  padding-bottom: 1px;
  margin-top: -1px;
  width: 63px;
  height: 30px;
  border: 1px solid #c3c3c3;
  border-radius: 0;
  font-size: 12px;
  text-align: center;
}

.button {
  color: #333;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  border: 1px solid #c3c3c3;
  border-radius: 0;
  outline: none;
  background-image: none;
  background-color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}

.button-wrap {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.button.large,
.form.large .button {
  display: inline-block;
  padding: 0 30px 2px 30px;
  min-width: 116px;
  margin-left: 10px;
  height: 44px;
  font-size: 14px;
  font-weight: bold;
}

.btn-calendar {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-bottom: 4px;
}

.result-title {
  margin: 30px 0 5px 0;
  overflow: hidden;
  padding-top: 20px;
  border-top: 1px solid #ededed;
}
.result-title .result-search {
  margin-top: 8px;
  margin-right: 20px;
  float: right;
  color: #666;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
.result-title .result-search span {
  margin: 0 3px 0 5px;
  color: #e67e22;
}
.result-title .button-wrap {
  margin-top: 0;
  float: right;
  width: auto;
  font-size: 0;
  line-height: 0;
  text-align: right;
}
.result-title .button-wrap-left {
  margin-top: 0;
  float: left;
  width: auto;
  font-size: 0;
  line-height: 0;
  text-align: right;
}

.button.small,
.form.small .button {
  display: inline-block;
  padding: 0 10px 2px 10px;
  min-width: 68px;
  margin-left: 8px;
  height: 26px;
  font-size: 12px;
  line-height: 14px;
}

.cm-grid {
  height: 800px;
}


/* Create*/
.answer-wrap {
  padding: 20px 10px 20px 20px;
}
.answer-wrap textarea {
  margin-top: 15px;
  height: 100px;
}

textarea.input {
  padding: 12px 10px;
  line-height: 1.5;
}

.input {
  box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.answer-wrap .answer-top, .answer-wrap .answer-bottom {
  display: table;
  width: 100%;
  font-size: 0;
  line-height: 0;
}

.answer-wrap .answer-bottom .buttons {
  float: right;
  margin-top: 15px;
}

.button.medium, .form.medium .button {
  display: inline-block;
  padding: 0 15px 2px 15px;
  height: 30px;
  font-size: 13px;
  line-height: 14px;
}